---
import Layout from '../layouts/Layout.astro';
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";


---

<Layout title="درباره‌ی من">
    <Header></Header>
    <Main>
      <p>
        سلام، به وب‌سایت من خوش آمدید. اگر به دنبال رزومه هستید.
        <a href="/resume" class="text-blue-600 hover:underline">اینجا</a> کلیک
        کنید. در غیر این صورت... چه خبر؟ من پویانم. متولد ۱۳۸۰. و این بستر رو
        برای دلایل مختلفی از جمله تحت تاثیر قرار دادن کارفرمایان و به اشتراک
        گذاشتن متون ادبیم درست کردم.
      </p>
    </Main>
    <Footer></Footer>
  </Layout>
</Layout>
