---
import Layout from '../layouts/Layout.astro';
import Main from "../components/Main.astro";
import Header from "../components/Header.astro";
import Contacts from "../components/Contactinfo.astro";
import Footer from "../components/Footer.astro";

---




<Layout title='رزومه'>
    <Header></Header>
    <Main>
        <article class="mt-2 2xl:px-14 xl3-no-padding">
            <h1 class="text-4xl mb-2">پویان چکامه</h1>
            <h2>توسعه‌گرJunior</h2>
            <Contacts></Contacts>

            <code></code>

            <h2 class="text-2xl mt-3">چکیده</h2>
            <p>توسعه‌دهنده و برنامه‌نویس نرم‌افزار با تجربه کار frontend و fullstack، نمونه‌سازی در زمینه هوش‌مصنوعی با کمک یادگیری‌ماشین و عملیات در حوضه‌ی IT. دارای‌ توانایی ثابت شده در ساخت برنامه‌های ‌واکنش‌گرا در سطح وب با استفاده از فریم‌ورک‌ها و چارچوب‌های مدرن و پیاده سازی راه‌حل های داده‌محور. دارای گواهی <span dir="ltr">network+</span> با تجربه کار با سیستم عامل لینوکس. پیش زمینه قوی ریاضیاتی، خلاق، ریزبین و دارای روحیه خودآموختگی به دنبال نقشی در تیم‌های توسعه نرم‌افزار که بتوانم مهارت های فنی خود را در آن به کار بگیرم و به رشد خود ادامه دهم</p>
            <h2 class="text-2xl mt-6 mb-1 p-1 border-b-2 border-secondary">مهارت‌های فنی</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1 md:gap-6  mt-3 mb-1">
                <div>
                <h3 class="text-xl md:text-center">زبان‌های برنامه‌نویسی</h3>
                <ul dir="ltr" class="sm-dir-rtl">
                    <li>1-Python</li>
                    <li>2-C/C++</li>
                    <li>3-Javascript</li>
                    <li>4-HTML/CSS</li>
                </ul>
                </div>
                <div>
                <h3 class="text-xl my-1 md:text-center">فناوری‌های فرانت‌اند</h3>
                <ul dir="ltr" class="sm-dir-rtl">
                    <li>1-Bootstrap, Tailwind CSS</li>
                    <li>2-Astro</li>
                    <li>3-Responsive Web Design, Cross Browser Testing </li>
                </ul>
                </div>
                <div>
                <h3 class="text-xl my-1 md:text-center">فناوری‌های بک‌اند</h3>
                <ul dir="ltr" class="sm-dir-rtl">
                    <li>1-PHP</li>
                    <li>2-Pandas, TensorFlow</li>
                </ul>
                </div>
                <div>
                <h3 class="text-xl my-1 md:text-center">دگر‌ ابزار</h3>
                <ul dir="ltr" class="sm-dir-rtl">
                    <li>1-Git</li>
                    <li>2-Linux (Ubunto/Debian)</li>
                    <li>3-npm</li>
                </ul>
                </div>
            </div>
            
            <h3 class="text-xl my-1">زبان‌ها:</h2>
            <ul>
                <li>- زبان انگلیسی ( C2 پیشرفته )</li>
            </ul>

            <h2 class="text-2xl mt-6 mb-1 p-1 border-b-2 border-secondary">سابقه‌کاری:</h2>
            <h3 class="text-xl mt-3 mb-1">- کارآموز توسعه Frontend | شرکت امنیت سایبری (NDA) </h3>
            <h4>1/2/1403 - 30/4/1403</h4>
            <p>- توسعه‌ی رابط کاربری تحت‌ وب برای یک نرم‌افزار تحلیل و تجسس امنیتی با استفاده از Javascript, CSS/HTML, Bootstrap</p>
            <p>- همکاری با تحلیلگران امنیتی برای تبدیل الزامات فنی به یک رابط کاربری و داشبورد بصری</p>
            <p>- آموزش و کسب تجربه در رابطه با لینوکس سرور و روش‌های امن توسعه نرمآفزار</p>
        
            <h3 class="text-xl mt-3 mb-1">- توسعه‌دهنده‌ی وب Fullstack | پروژه‌ی خصوصی</h3>
            <h4>30/4/1403 - حال</h4>
            <p>- طراحی و پیاده‌سازی یک سایت شخصی با کمک php برای بک‌اند و html/css, javascript برای فرانت‌اند</p>
            <p>- طراحی و پیاده سازی یک رابط کاربری Responsive به همراه مدریت مناسب بک اند با کمک ایده‌هایی مانند مانند اعتبار‌سنجی و نوشت API</p>
  
  
            <h2 class="text-2xl mt-6 mb-1 p-1 border-b-2 border-secondary">تحصیلات:</h2>
            <h2 class="text-xl mt-3 mb-1">کارشناسی علوم کامپیوتر
                <p class="text-sm font-normal pb-1">(تحصیل سابقا در دانشگاه سمنان)</p>
            </h3>

            <h4>-  دانشگاه‌پیام‌نور | 31/11/1403</h4>
            <p> دروس مرتبط: ساختمان داده و الگوریتم / طراحی نرم‌افزار / پایگاه داده</p>
  
            <h3 class="text-xl mt-3 mb-1">پایان‌نامه:</h3>
            <p>- طراحی و پیاده‌سازی سیستم هوش‌مصنوعی یادگیری‌ماشین در زمینه آنالیز داده‌های مالی با کمک python, Pandas و Tensorflow</p>
            <p>- پیش‌پردازش داده ها به کمک Pandas و تحلیل سری‌زمانی به کمک Tensorflow</p>
            <p>- نتایج با دقت جمع‌آوری و ارائه داده شد</p>
      
            <h2 class="text-2xl mt-6 mb-1 p-1 border-b-2 border-secondary">مدارک و توانایی‌ها:</h2>
            <p class="mt-3 mb-1">- <span dir="ltr">CompTIA Network+</span> ( مبانی نتوورکینگ و IT)</p>
            <p>- پیش‌زمینه قوی در ریاضیات. قوی در تحلیل و حل مسئله </p>
            <p>- خلاق و دارای شم هنری در زمینه طراحی</p>
            <p>- دقت و ریزبینی | متعهد به استاندارد‌ها و معیار های فنی در حین کدنویسی و توسعه‌ی نرم‌افزار</p>
            <p>- دارای روحیه خودآموزختگی قوی</p>
            <p class="pb-4">- توانایی کامل در ارتباط به زبان انگلیسی برای مسائل فنی</p>


            <p class="text-xl">۲۴ ساله، مجرد، در انتظار شروع تحصیلات کارشناسی ارشد ( رتبه ۴۰۰ کنکور علوم کامپیوتر ). مشمول به سربازی. آماده به کار در حوضه های IT، توسعه نرم‌افزار، پژوهشی و هوش‌مصنوعی.</p>
        </article>
	</Main>
    <Footer isEmpty class="border-8 border-secondary" /></Footer>

    <style>
        @media (max-width: 768px) { 
            .sm-dir-rtl {
                direction: rtl;
                text-align: right;
            }
        }

        
          @media (min-width: 1650px) {
            .xl3-no-padding {
            padding: 0 !important;
            }
    </style>


</Layout>


